h1 {
  color:blue;
  background-color: beige;
}
p {font-size: large;
   font-family: sans-serif;
}
li {font-size: large;
   font-family: 'Oswald', sans-serif;
   color: purple;
}
ul {
  list-style-type: square;
}
a {text-decoration: none;
}
a:hover {
  color: red;
}
a:visited {
  color: purple;
}
body {
  background-color: tan;
}
div{width: 720px;}

#border{border-bottom: 1px solid black;
margin-bottom: 5px;
padding-bottom: 5px;}
