
header {
  margin-top: 0;
  padding: 3em 1em 2em 1em;
  text-align: center;
  height: 660px;
  background:
    url(images/biker.jpg) center no-repeat;
  background-color: blue;

}
body {background-color: dodgerblue;}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: #937393;
}
a:hover {
  color: #c700f2;
}
a:active {
  color: #ff00ff;
}
h1 {
  font: bold 1.5em Georgia, serif;
  text-shadow: .1em .1em .2em gray;
  color: #939;
}
h2 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .5em;
  text-align: center;
  color: black;
}
dt {
  font-weight: bold;
}
strong {
  font-style: italic;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#info p {
  font-style: italic;
}
.price {
  font-family: Georgia, serif;
  font-style: italic;
}
p.warning, sup {
  font-size: small;
}
.label {
  font-weight: bold;
  font-variant: small-caps;
  font-style: normal;
}
dd {margin: 0;}

h2 + p {
  text-align: left;
  font-style: bold;
}
html {background-color:blue;}

@media screen and (min-width: 400px) {
header {background-size: 80%;
height: 400px;}
}
@media screen and (min-width: 600px) {
header{height: 400px; background-size: 400px;}
  main {
    line-height: 1.8em;
    padding: 1em;
 }
}
@media screen and (min-width: 940px) {
header{  height: 400px; background-size: 400px;}
  nav {
    color: red;
    line-height: 1em;
  }
}
